<ion-header>
  <ion-navbar color="tabSearch">
    <ion-searchbar animated="true" type="search" showCancelButton="true" [(ngModel)]="searchQuery" (ionInput)="getItems($event)" (ionCancel)="onCancel($event)" (ion-clear)="onClear($event)"></ion-searchbar> 
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  
  <ion-list *ngIf="searchQuery==''">
    <ion-card *ngFor="let item of cat" (click)="enterCat(item)">
      <img [src]="item.foto" />
      <div class="card-title">{{item.nome}}</div>
      <div class="card-subtitle"></div>
    </ion-card>
  </ion-list>
  
  <ion-list *ngIf="searchQuery!=''">
      <ion-card *ngFor="let item of items" (click)="enterRoom(item)">
        <img [src]="item.foto" />
        <div class="card-title">{{item.nome}}</div>
        <div class="card-subtitle"></div>
      </ion-card>
  </ion-list>
</ion-content>
