page-utility {
  .list-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-remove-btn {
    align-self: flex-start;
  }

  .button[icon-only][no-space] {
    max-width: 30px;
  }
}
