<ion-header>
  <ion-navbar color="toolbar">
    <ion-searchbar type="search" [(ngModel)]="searchQuery" (ionInput)="getItems($event)"></ion-searchbar> 
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
    <div *ngFor="let cat of items">
      <ion-item-divider color="light" *ngIf="cat.cibo[0] != null" >{{cat.nome}}</ion-item-divider>
      <ion-item no-padding *ngFor="let food of cat['cibo']">
        <ion-row class="list-item">
          <div class="add-remove-btn">
            <button ion-button icon-only no-space clear color="secondary"><ion-icon name="add-circle"></ion-icon></button>
            <button ion-button icon-only no-space clear color="danger"><ion-icon name="remove-circle"></ion-icon></button>
          </div>
          <h2>{{food.nome}}</h2>
          <h2>€ {{food.prezzo.toPrecision(2)}}</h2>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
