page-dettagli {

  .toolbar-md-toolbar .toolbar-background-md, .toolbar-ios-toolbar .toolbar-background-ios {
    background-size: 150%;
    background-position: center;
    -webkit-filter: blur(10px) brightness(80%);
    -moz-filter: blur(10px) brightness(80%);
    -o-filter: blur(10px) brightness(80%);
    -ms-filter: blur(10px) brightness(80%);
    filter: blur(10px) brightness(80%);
  }

  img {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
  }

  .card-md {
    margin: 0;
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 2px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 5px;
    right: 1px;
    width: 100%;
    color: #fff;
  }

  .scroll-content {
    margin-bottom: 0px;
  }

  p {
    font-size: medium;
  }
}
