page-dettagli {

  .toolbar-md-toolbar .toolbar-background-md {
    background-image: url('../assets/img/photos/auditorium.png');
    background-size: cover;
  }

  .toolbar-ios-toolbar .toolbar-background-ios {
    background-image: url('../assets/img/photos/auditorium.png');
    background-size: cover;
  }
}
