page-mappa {

  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }


  .row {
    display: block;
  }

  .mapImg {
    display: block;
    margin: auto;
    max-width: none;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }

  .mapDiv {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
    padding: 18px;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
  }

  .scroll-zoom-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: auto;
  }

  .dwnDutton {
    position: absolute;
    align-self: flex-end;
    right: 5px;
    bottom: 5px;
  }

  .fabImg {
    position: absolute;
    align-self: center;
    max-width: 118%;
  }

  .fab-in-list {
    width: 45px;
    height: 45px;
  }

  .groundFloor {
    content: url(../assets/icon/ground-floor.svg);
    height: calc(100% + 5px);
  }

  .firstFloor {
    content: url(../assets/icon/first-floor.svg);
    height: calc(100% + 5px);
  }

  .secondFloor {
    content: url(../assets/icon/second-floor.svg);
    height: calc(100% + 5px);
  }
}
